# 데이터처리 & 전처리

### 1. 데이터 불러오기

In [11]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [12]:
customerData.head(2)

   CUSTID    AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.90000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.44195    2            4    2.682023      Sleeping-dog

In [9]:
# 데이터 요약정보 확인
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [14]:
# 데이터 전체 요약정보 확인
customerData.describe()

          AVGPRICE         EMI  DEVICECOUNT  PRODUCTAGE
count   150.000000  150.000000   150.000000  150.000000
mean   3432.741108    2.053333     4.973333    1.932601
std     371.571877    0.445510     0.996279    0.807457
min    2390.083736    1.000000     3.000000    0.800000
25%    3214.543122    2.000000     4.000000    1.000000
50%    3408.300000    2.000000     5.000000    2.077000
75%    3664.767001    2.000000     6.000000    2.574525
max    4296.873743    3.000000     6.000000    3.483573

In [15]:
# 행 읽어 오기
customerData.loc[ customerData.DEVICECOUNT > 5 ]    # .loc[ customerData["DEVICECOUNT"] > 5]  <-- 요렇게 쓸 수도 있음 하지만, 앞에 꺼가 더 좋음

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
3    A16605  3713.211107    2            6    0.900000        Early-bird
6    B18816  3213.911446    2            6    0.900000        Early-bird
13   D11795  2991.014703    2            6    0.800000        Early-bird
15   D15289  4165.700000    2            6    2.911016  Big-Screen-lover
..      ...          ...  ...          ...         ...               ...
139  Y10906  3408.300000    2            6    2.131432  Big-Screen-lover
142  Z11525  3259.018704    3            6    0.900000        Early-bird
143  Z12343  3498.896985    2            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[61 rows x 6 columns]

In [16]:
customerData.loc[ customerData.AVGPRICE > 4000 ]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
9    C15050  4020.173425    2            4    3.013440      Sleeping-dog
10   C18306  4005.005142    2            4    3.113618      Sleeping-dog
15   D15289  4165.700000    2            6    2.911016  Big-Screen-lover
16   D17241  4166.533130    2            4    2.577757      Sleeping-dog
18   E10778  4165.700000    2            6    2.122257  Big-Screen-lover
25   F12979  4165.700000    2            6    2.128362  Big-Screen-lover
38   H10188  4020.245162    2            6    0.900000        Early-bird
66   M17538  4111.600000    2            6    2.012517  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
129  W13032  4003.400000    2            6    2.519623  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird